*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

.navbar {
  transition: all 0.5s;
}

.navi-link {
  color: white;
  margin: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

.navi-link:hover {
  color: white;
}

.transparent {
  /* background-color: #fcfcfc; */
  background-color: #0b4c8a !important;
}

.dark {
  background-color: #0b4c8a !important;
}

.section-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem !important;
  color: black;
  font-weight: 200;
  margin-bottom: 3rem;
  padding: 0 2rem;
  text-align: center;
}

.title-dark {
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  color: darkblue;
  font-weight: 800;
}

.title-light {
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  color: rgb(49, 125, 224);
  font-weight: 800;
}

.shadow {
  box-shadow: 0px 1.75rem 3.5rem rgba(0, 0, 0, 0.4);
}

/* ======================================= LANDING HERO ============================ */

.landing-hero {
  height: 100vh;
  min-height: 50rem;
  background-image: url("./img1.jpg");
  background-position: center;
  background-size: cover;
  max-width: inherit !important;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  margin-left: 17%;
}

#babylon {
  font-family: "Montserrat", sans-serif;
  font-size: 4.5rem;
  color: darkblue;
  font-weight: 800;
  margin-top: 25%;
  margin-left: 10px;
  margin-bottom: 1px;
}

#tech {
  font-family: "Montserrat", sans-serif;
  font-size: 4.5rem;
  margin-top: 1px;
  margin-left: 10px;
  margin-bottom: 1px;
  color: rgb(49, 125, 224);
  font-weight: 800;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.subheading {
  font-size: 1.25rem;
  color: slategrey;
  text-align: center;
  margin-bottom: 2rem;
}

.hero-buttons {
  display: flex;
}

#servicesbtn {
  color: whitesmoke;
  margin-right: 2rem;
  min-width: 12rem;
}
#contactbtn {
  color: whitesmoke;
  min-width: 12rem;
}

/* ============================= LANDING ABOUT ============================ */

.landing-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem;
}

.about-img-col {
  display: flex;
  justify-content: center;
}

.about-text-wrapper {
  padding: 2rem;
}

.quote {
  font-size: 3rem;
  color: rgb(49, 125, 224);
  margin-bottom: 1rem;
}

.about-text {
  font-size: 1.25rem;
  letter-spacing: 0.5px;
  font-weight: 200;
}

.about-logo {
  height: 25rem;
  width: auto;
}

/* ============================= ABOUT PAGE SECTION ============================ */
.about-page-section {
  min-height: 100vh;
  padding-top: 5rem;
}

.about-titles {
  text-align: center;
}

.about-page-header-wrapper {
  margin-top: 1rem;
}

.about-page-white {
  background-color: white;
}

.about-page-service-section {
  padding: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us-service-section-text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  color: slategray;
  text-align: center;
  width: 50vw;
  max-width: 50rem;
  padding: 2rem;
  padding-top: 1rem;
  min-width: 300px;
}

.about-page-service-section-img {
  height: auto;
  max-width: 50rem;
  width: 40vw;
  border-radius: 5px;
  min-width: 300px;
}

.about-page-services-link {
  font-weight: 400;
}

.about-page-beleifs-section {
  padding: 5rem;
}

.belief-card-contaier {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  color: slategray;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px !important;
  width: 20rem;
}

.card-title-b {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 800;
  color: rgb(49, 125, 224);
  text-align: center;
}

.card p {
  text-align: center;
  letter-spacing: 1px;
  word-spacing: 3px;
}

.belief-icon {
  height: 10rem;
  width: 10rem;
}

.about-page-content {
  padding: 2rem;
}

/* ============================= LANDING SERVICES ============================ */

.landing-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  background-color: #f5f5f9;
}

.service-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 75vw;
  max-width: 1600px;
}

.service p {
  font-size: 1rem;
}

.underline {
  position: relative;
  display: inline-block;
  font-size: 1.25rem;
}

.underline::after {
  content: "";
  position: absolute;
}

.service .underline::after {
  bottom: -1.5rem;
  height: 3px !important;
  width: 25%;
  left: 39%;
  background-color: rgb(49, 125, 224);
  transition: 0.4s ease-out all 0.1s;
}

.service:hover .underline::after {
  width: 90%;
  left: 5%;
  transition: 0.5s ease all;
}

.service {
  text-align: center;
  border-radius: 3px;
  padding: 3rem 1.5rem;
  margin: 1rem;
  margin-bottom: 2rem;

  background-color: #fff;
  transition: all 0.3s;
  width: 25rem;
  position: relative;
}

.service-img {
  width: 20rem;
  height: auto;
  object-fit: cover;
  border-radius: 2px;
}

.service h3 {
  margin: 1rem;
  font-size: 1.5rem;
}

/* ============================= LANDING CONTACT FORM ============================ */

.landing-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  background-color: #f5f5f9;
}

.form-wrapper {
  padding: 0 1rem;
}

.form-input {
  border-radius: 4.5px;
  border: 1px solid #d4d4d4;
  box-sizing: border-box;
  color: #4f555a;
  cursor: text;
  display: inline-block;
  padding: 18px;
  width: 100%;
  letter-spacing: normal;
  font-size: 18px;
  line-height: 20.7px;
  margin-bottom: 1rem;
}

/* ============================= CONTACT PAGE ============================ */

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
  background-color: #f0f5f8;
}

.contact-form-column {
  margin: 2rem;
}

.contact-thanks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 90vh;
  background-color: #f0f5f8;
}

.contact-page-subheading {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.contact-flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-info-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.contact-info {
  text-align: center;
  margin: 1rem;
}

.contact-info-icon {
  color: rgb(32, 32, 225);
  font-size: 1.75rem;
  margin-bottom: 5px;
}

/* =============================  FOOTER ============================ */

.footer {
  background-color: #21212b;
  color: white;
  display: flex;
  flex-direction: column;
}

#bar {
  background-image: linear-gradient(
    109.6deg,
    rgba(44, 83, 131, 1) 18.9%,
    rgba(95, 175, 201, 1) 91.1%
  );
  color: whitesmoke;
  overflow: visible;
  padding: 1rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon-link {
  margin: 0 0.5rem;
}
.my-hr {
  border-top: 1px solid white !important;
  margin-bottom: 2rem;
}

/* ============================= 404 ============================ */

.not-found {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
}

/* ============================= FAQ INDEX ============================ */

.faq-section {
  background-color: #fff;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.faqcard {
  padding: 2rem;
  margin: 2rem;
  max-width: 1170px;
  /* max-height: 250px; */
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  min-width: 300px;
  background-color: whitesmoke;
}

.faq-title-wrapper {
  padding: 2rem;
  text-align: center;
}

.faqtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  color: darkblue;
  font-weight: 800;
}

.faqtitle2 {
  font-family: "Montserrat", sans-serif;
  font-size: 80px;

  color: rgb(49, 125, 224);
  font-weight: 800;
}

.align-right {
  display: flex;
  justify-content: flex-end;
}

.view {
  background-image: linear-gradient(
    109.6deg,
    rgba(44, 83, 131, 1) 18.9%,
    rgba(95, 175, 201, 1) 91.1%
  );
  color: white;
  text-align: center;
  border-radius: 5px;
  padding-top: 5%;
  padding: 1rem;
  width: 90vw;
  min-width: 300px;
  max-width: 1170px;
}

/* ============================= FAQ PAGE ============================ */

.faq-post-section {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 2rem;
  padding: 1rem;
}

.faq-post-section img {
  max-width: 1170px;
  width: 75vw;
  height: auto;
}

/* ============================ SERVICES PAGE ============================= */

.services-content img {
  max-width: 450px;
  height: auto;
  border-radius: 5px;
  margin: 1rem 0;
}

.service-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  background-color: #f5f5f9;
  padding: 1rem 2rem;
  max-width: 1170px;
}

.service-box h2 {
  font-family: "Montserrat", sans-serif;
}

.service-box p {
  letter-spacing: 1px;
  line-height: 1.7;
}

.service-box-text {
  padding: 2rem;
  text-align: center;
}

.services-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ============================= MEDIA QUERIES ============================ */

@media screen and (min-width: 1920px) {
  .service {
    width: 15;
  }
}

@media screen and (max-width: 1600px) {
  .faq-title-wrapper {
    align-self: flex-start;
    text-align: initial;
  }
}

@media screen and (max-width: 1200px) {
  .service {
    width: 20rem;
    height: 26rem;
  }

  .service img {
    width: 15rem;
  }

  .about-page-service-section {
    flex-direction: column;
  }
  .about-us-service-section-text {
    width: 75vw;
  }

  .about-titles {
    font-size: 4rem;
  }
  .about-page-service-section {
    padding: 2rem;
  }
  .belief-card-contaier {
    flex-direction: column;
  }
  .service-box {
    flex-direction: column;
  }
  .services-content img {
    order: 1;
  }
  .service-box-text {
    order: 2;
  }
}

@media screen and (max-width: 975px) {
  .service-wrapper {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .my-hr {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .hero-text {
    margin-left: 0;
  }

  #babylon {
    font-size: 2.5rem;
  }
  #tech {
    font-size: 3rem;
  }

  .subheading {
    font-size: 1rem;
  }

  .hero-buttons {
    flex-direction: column;
  }
  #servicesbtn {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  #contactbtn {
    font-size: 1rem;
  }

  .section-heading {
    font-size: 2rem !important;
  }

  .about-logo {
    height: 10rem;
    width: auto;
  }

  .contact-page-subheading {
    font-size: 1.15rem;
  }

  .faqtitle,
  .faqtitle2 {
    font-size: 3rem;
  }
  .about-us-service-section-text {
    font-size: 1.5rem;
  }
  .about-titles {
    font-size: 3rem;
  }
  .about-page-service-section {
    padding: 1rem;
    padding-bottom: 3rem;
  }

  .belief-icon {
    height: 7rem;
    width: 7rem;
  }

  .card-title-b {
    font-size: 1.5rem;
  }
  .services-content img {
    max-width: 300px;
  }
  .contact-info-wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 450px) {
  .service {
    width: 20rem;
  }

  .faqcard {
    margin: 0.5rem;
  }

  .faqtitle {
    font-size: 2.75rem;
  }
  #bar {
    height: 6rem;
  }
  .about-us-service-section-text {
    width: 95vw;
    font-size: 1.25rem;
  }
  .about-page-beleifs-section {
    padding: 2rem;
  }
  #about-page-heading {
    margin-bottom: 1rem;
  }
  .card {
    width: 280px;
  }
  .service-box {
    padding: 1rem 1rem;
  }
  .services-content img {
    max-width: 270px;
  }
  .service-box-text {
    padding: 0.5rem;
  }
  .service-box p {
    letter-spacing: 0.5px;
    line-height: 1.5;
  }
}
